@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap");

:root {
  --body-color: rgba(54, 54, 54, 1);
  --sidebar-color: rgba(21, 21, 21, 1);
  --box-color: rgba(36, 36, 36, 1);
  --text-color: rgba(232, 244, 250, 1);
  --textdark-color: rgba(21, 21, 21, 1);
  --mainblue-color: rgba(64, 94, 255, 1);
  --mainorange-color: rgba(236, 165, 66, 1);
  --maingreen-color: rgba(55, 142, 74, 1);
  --mainred-color: rgba(235, 85, 112, 1);
  --margin-size: 0.8rem;
  --border-radius: 0.3rem;
  --text-size: 0.7rem;

  --right-btn-move: 10.2rem;
  --bottom-btn-move: 4.5rem;
}

#dark {
  --body-color: rgba(54, 54, 54, 1);
  --sidebar-color: rgba(21, 21, 21, 1);
  --box-color: rgba(36, 36, 36, 1);
  --text-color: rgba(232, 244, 250, 1);

  --calendar-text-color: rgba(232, 244, 250, 0.5);

  --mainblue-color: rgba(64, 94, 255, 1);
  --mainorange-color: rgba(236, 165, 66, 1);
  --maingreen-color: rgba(55, 142, 74, 1);
  --mainred-color: rgba(235, 85, 112, 1);

  --eventbox-color: rgba(86, 65, 35, 255);
  --taskbox-color: rgba(64, 94, 255, 0.3);
  --subtaskbox-color: rgba(27, 32, 56, 255);

  --btn-color: rgba(236, 165, 66, 1);
  --small-btn-color: rgba(36, 36, 36, 1);

  --toggle-color: rgba(236, 165, 66, 0.3);
  --slide-color: rgba(236, 165, 66, 1);

  --inputbox-color: rgba(232, 244, 250, 1);
  --inputtext-color: rgba(21, 21, 21, 1);
  --inputback-color: rgba(21, 21, 21, 1);

  --tasks-color: rgba(236, 165, 66, 1);
  --notes-color: rgba(64, 94, 255, 1);
  --all-color: rgba(232, 244, 250, 1);

  --blue-file-color: rgba(64, 94, 255, 0.2);
  --red-file-color: rgba(235, 85, 112, 0.2);
  --green-file-color: rgba(55, 142, 74, 0.2);
  --orange-file-color: rgba(236, 165, 66, 0.2);
  --inactive-file-color: rgba(36, 36, 36, 1);

  --scroll-color: rgba(232, 244, 250, 0.5);

  --month-cell-color: rgba(36, 36, 36, 1);

  --margin-size: 0.8rem;
  --border-radius: 0.8rem;
  --text-size: 0.7rem;
  --right-btn-move: 10.2rem;
  --bottom-btn-move: 4.5rem;
}

#light {
  --body-color: rgba(244, 245, 252, 1);
  --sidebar-color: rgba(255, 255, 255, 1);
  --box-color: rgba(250, 233, 208, 1);
  --text-color: rgba(21, 21, 21, 1);

  --calendar-text-color: rgba(21, 21, 21, 1);

  --mainblue-color: rgba(64, 94, 255, 1);
  --mainorange-color: rgba(236, 165, 66, 1);
  --maingreen-color: rgba(55, 142, 74, 1);
  --mainred-color: rgba(235, 85, 112, 1);

  --eventbox-color: rgba(197, 206, 255, 255);
  --taskbox-color: rgba(236, 165, 66, 0.3);
  --subtaskbox-color: rgba(252, 241, 226, 255);

  --btn-color: rgba(64, 94, 255, 1);
  --small-btn-color: rgba(64, 94, 255, 0.5);

  --toggle-color: rgba(64, 94, 255, 0.3);
  --slide-color: rgba(64, 94, 255, 0.5);

  --inputbox-color: white;
  --inputtext-color: rgba(21, 21, 21, 1);
  --inputback-color: rgba(232, 244, 250, 1);

  --tasks-color: rgba(236, 165, 66, 1);
  --notes-color: rgba(64, 94, 255, 1);
  --all-color: rgba(21, 21, 21, 1);

  --blue-file-color: rgba(197, 206, 255, 255);
  --red-file-color: rgba(235, 85, 112, 0.2);
  --green-file-color: rgba(55, 142, 74, 0.2);
  --orange-file-color: rgba(250, 233, 208, 1);
  --inactive-file-color: rgba(36, 36, 36, 0.2);

  --scroll-color: rgba(21, 21, 21, 0.5);

  --month-cell-color: rgba(36, 36, 36, 0.1);

  --margin-size: 0.8rem;
  --border-radius: 0.8rem;
  --text-size: 0.7rem;
  --right-btn-move: 10.2rem;
  --bottom-btn-move: 4.5rem;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: var(--text-color);
  overflow: hidden;
}
.app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container {
  display: grid;
  position: absolute;
  grid-template-columns: 15rem auto;
  background-color: var(--body-color);
  height: 98%;
  width: 99%;
  border-radius: var(--border-radius);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
  opacity: 0.5;
}
a:hover {
  opacity: 0.75;
}

.tooltipArea {
  border-radius: var(--border-radius);
  border: none;
  background: var(--body-color);
  color: var(--text-color);
  padding: 1rem;
  font-size: 0.7rem;
  box-shadow: 15px 30px 40px 5px rgba(0, 0, 0, 0.5);
}
.tooltipArea-header {
  display: flex;
}

@media screen and (max-width: 1024px) {
  .main-container {
    grid-template-columns: 5rem auto;
  }
}
